@charset "UTF-8";
/* CSS Document */
html{padding:0;margin:0;width:auto;height:auto;}
body{
	padding:0;
	margin:0;
	font-family: objektiv-mk1, sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size:14px;
	background-color:#383E5A;
	width:auto;
	height:auto;
	color:#5B5E6B;
	}
	
body.news{margin:0;padding:0;}
p{
	font-weight:400;
	padding:0 0 20px 0;
	margin:0;
	line-height:20px;
}
h1{
	font-size:38px;
	padding:0;
	margin:0 0 10px 0;
	font-weight: 900;
	color:#6585AA;
	text-transform: uppercase;
	}
h2{
	font-size:20px;
	padding:0;
	margin:0 0 10px 0;
	font-weight: 700;
	color:#A2B4C9;
	}
h3{
	font-size: 14px;
	font-weight: 700;
	line-height: 30px;
	margin: 0 0 40px 0;
	}
h4{
	font-size:24px;
	font-weight: 700;
	border-bottom:1px solid #5B5E6B;
	padding:0 0 10px 0;
	margin:0 0 20px 0;
	clear:both;
	}

ul {
    list-style: none;
    padding:0;
    margin:0;
}

li { 
    padding:0;
	margin:0;
}
.projectHero .projectInfo .imageTitle,
.imageTitle{
	font-size:16px;
	font-weight: 700;
	}
.clear{clear:both;}

a img, img{
	border:1px solid #C4C4C4;
	padding:0;
	margin:0 0 10px 0;
}

a{color:#60AAFF;text-decoration:underline;}
a:visited{color:#A2B4C9;text-decoration:underline;}
a:hover{color:#418ADF;text-decoration:underline;}
.clear_both{clear:both;padding:0;margin:0;height:auto;width:auto;}

/*Wrapper*/
#wrapper{
	min-width:990px;
	width:100%;
	height:auto;
	margin:0 auto;
	padding:0;
	}

/*Content*/
#content .description{float:left;width:295px;height:auto;padding-left:30px;display:inline;}
#content .description .notes{padding:15px 0 0 0;}
#content .description p {padding:10px 0 40px 0;margin:0;text-align:center;font-size:12px;font-weight:bold;clear:left;}
#content .description p span.imageTitle{font-weight:bold;}
#content .description ul{list-style:none;margin:0;padding:0; }
#content .description ul li{margin:0 0 15px 0;padding:0 0 0 15px;}
#content .description ul li ul{margin:10px 0 0 10px;padding:0;}
#content .description p a.visit{ font-weight:bold;}
#content .description p a.visit:hover{ }

/*Back To Top Link*/
#back_to_top{clear:both;width:800px;height:auto;margin:20px 0 0 0;z-index:999;position:absolute;bottom:0;left:95px;}
#back_to_top a{display:block;height:auto;padding:20px;background-color:#dadada;color:#5B5E6B;text-decoration:none;font-size:18px;text-align:center;}
#back_to_top a:visited{ }
#back_to_top a:hover{background-color:#5B5E6B;color:#dadada;text-decoration:underline;}

/*Header Styles*/
header{height:auto;width:100%;margin:0 auto;background-color:#EDF2F7;}
#headerWrapper{width:990px;padding:0;margin:0 auto;}
#headerTop{width:990px;height:95px;margin:0;padding:0 0 10px 0;position:relative;}
#connect{float:right;width:335px;height:40px;margin:30px 32px 0 0;text-align:right;}
#connect ul{width:auto;height:40px;list-style:none;margin:0;padding:0;}
#connect li{padding:0;margin:0;display:inline;}
#connect li a{text-decoration:none;margin:0;display:block;float:left;width:125px}
#connect li a:visited{color:#5B5E6B;}
#connect li.vcard{ }
#connect li.vcard a{background:url(../images/icon_vcard_combo.png) no-repeat top left;padding:8px 30px 8px 28px;}
#connect li.vcard a:visited{color:#5B5E6B;}
#connect li.pdf{ }
#connect li.pdf a{background:url(../images/icon_pdf_combo.png) no-repeat top left;padding:8px 0 6px 25px;margin:0;display:block;}
#connect li.vcard a:hover, #connect li.pdf a:hover{background-position:0 -30px;}


#logo{width:250px;height:49px;padding:0 28px 0 0;position:absolute;top:24px;left:0;}
#logo a{width:250px;height:49px;display:block;}
#logo a, #logo a img{border: none;}

#contactInfo{
	top:32px;
	left:270px;
	width:300px;
	height:auto;
	position:absolute;
}
#contactInfo ul{margin:0;padding:0;list-style:none;width:auto;height:auto;}
#contactInfo li{padding:0;margin:0 0 5px 0;}
#contactInfo li a{text-decoration:none;}

#store{float:right;width:85px;height:35px;margin-top:23px;display:none;}
#store a{background: url(../images/shop_combo.gif) no-repeat 0 0;width:85px;height:35px;display:block;}
#store a span{display:none;}
#store a:hover{background-position:0 -35px;}

nav{
	width:960px;
	height:auto;
	margin:0 auto;
	padding:0 15px 20px 15px;
	}
nav div.col01,
nav div.col02,
nav div.col03,
nav div.col04,
nav div.col05,
nav div.col06{float:left;display:inline;width:auto;padding:0 35px 0 0;}
nav div.col06{padding-right:0;}
nav li{
	margin:0;
	padding:0;
	text-transform:uppercase;
	font-size:16px;
	font-weight: 700;
	}
nav li a,
nav li a:link,
nav li a:visited{
	color:#5B5E6B;
	text-decoration:none;
}
nav li a{text-transform:uppercase;}
nav li a:link{ }
nav li a:visited{ }
nav li a:hover{color:#60AAFF;}
nav ul li ul{width:auto;margin:10px 0 0 0;}
nav ul li ul li{
	padding:0;
	margin:0 0 5px 0;
	font-size:14px;
	font-weight: 400;
	}
nav ul li ul li a{text-transform:none;}

/*main body styles*/
#mainBody{
	width:100%;
	padding:30px 0;
	margin:0 auto;
	clear:both;
	position:relative;
	min-height:300px;
	background-color:#FFF;
	}
#mainBody ::selection {background: #ccc; /* Safari */}
#mainBody ::-moz-selection {background: #ccc; /* Firefox */}

/*Section Headers*/
#sectionImgHeader{display:none;}
#sectionHeaderWrap{ }
#sectionHeaderImg{ }

/*Content Wrappers*/
#contentWrapper{width:990px;height:auto;padding:0 0 30px 0;margin:auto;}

/*Project*/
body.threeCol #content .project.drummersjournal,
body.threeCol #content .project.mapProjects,
body.threeCol #content .project .projectFull,
.projectFull{
	width:990px;
}
body.threeCol #content .project.paddingNone{
	padding:0;
	margin: 0;
}
body.threeCol #content .project .projectFull img,
.projectFull img{
	width:988px;
}
.projectDribbble{
	width:800px;

}
.projectDribbble img{
	width:798px;

}
.projectMobile{
	width:450px;

}
.projectMobile img{
	width:448px;

}
.projectGrid{
	width:990px;
	clear: both;
}

.projectGrid .projectImage{
	width:495px;
	float: left;
	padding: 0;
	margin: 0 0 20px 0;
}
.projectGrid .projectImage img{
	width:495px;
}
.project .projectGrid .projectImage p{
	padding:0;
}
.projectImage{
	float:left;
	width:600px;
	padding:0 40px 0 0;
	}
.projectImage img{
	width:598px;	
}
.project .projectImage p,
.project .projectFull p{
	font-size:12px;
	text-align:center;
	padding:10px 0 40px 0;	
}

body.twoCol .projectInfo,
body.threeCol .projectInfo,
body.uxPageFull .projectInfo{
	width: auto;
}
.projectInfo{
	float:left;
	width:300px;
	padding:0;
	}
body.uxdesignFull .projectInfo.width300{
	width: 300px;
}
.project {
  clear: none;
  display: inline;
  float: left;
  height: auto;
}
body.instructionalGraph .project{
	padding-bottom: 100px;	
}
.project.firstProject{
	clear:both;	
}
.project.noHeader{
	margin-top:40px;	
}
.project p{
	 
	}
.project p.projectYear{
	font-size: 12px;
	color:#666;
	margin:-15px 0 0 0;
}
.project p.client{
	padding:10px 0 10px 0;	
}
.caveat{
	color: darkgray;
    line-height: 20px;
    margin: 10px 0 0 0;	
}
.project ul {
    list-style: none;
    padding:0;
    margin:0;
}

.project li { 
    padding: 0 0 10px 10px;
    text-indent: -8px;
    line-height: 22px;
}
p.sectionOverview,
.sectionOverview{
	
}

/*Two Column Layout*/
body.twoCol #content .project{
    margin: 0 30px 30px 0;
    width: 465px;
	}
body.twoCol #content .project img{
	width:465px;
	}

/*Three Column Layout*/
body.threeCol #content .project{
    margin: 0 30px 30px 0;
    width: 300px;
	}
body.threeCol #content .project img{
	width:300px;
	}
body.threeCol #content .project .projectHero{
	width:990px;
	height:auto;
	margin-bottom:30px;	
}
body.threeCol #content .project .projectHero img{
	width:990px;	
}
/*Two Column Images Expanded View*/
.projectImage.imageTwoCol{ 
	
	}
.projectImage.imageTwoCol img,
.projectImage .imageTwoCol img{ 
	width:290px;
	}
.imageRow{
	
	}
.imageLeftCol{ 
	padding:0 20px 0 0;
	}
.imageLeftCol,
.imageRightCol{
	width:290px;
	float:left;
	}
.projectViewBtn{
	width: 336px;
	height: 50px;
	clear: both;
	margin: 0 auto 60px;
}
.projectViewBtn a,
a.resumeBTN{
	display: inline-block;
	padding: 14px 0 0 0;
	text-align: center;
	text-decoration: none;
	border: 2px solid #FF2C5D;
	border-radius: 5px;
	width: 336px;
	height: 36px;
	font-weight: 700;
	color:#FF2C5D;
    transition: all .4s;
}
a.resumeBTN{
	width: 260px;
	display: inline-block;
	margin: 0 10px 30px 0;
}
.projectViewBtn a:hover,
a.resumeBTN:hover{
	border:2px solid #60AAFF;
	color:#FFF;
	background-color:#60AAFF;
}
/*Comics Page*/
body.comics #content{float:left;width:600px;padding:0;margin:0;height:auto;}

/*powerpoint*/

/*Links Page*/
body.links #content{ }
body.links #content ul{list-style:none;margin:0 0 30px 0;padding:0; }
body.links #content ul li{margin:0 0 5px 0;padding:0 0 0 15px;background:url(../images/bullet_arrow.gif) no-repeat 0 3px;}

/*Weekender Page*/
body.weekender .project{
	padding-bottom:40px;
}

/*Tees Page*/
body.tees #content .project{width:800px;}
body.tees #content .project img{margin-bottom:20px;width:800px;}

/*Contact Page*/
div.contact_info{margin-top:50px; }
div.contact_info ul{list-style:none;margin:0;padding:0;}
div.contact_info ul li{margin:0 0 7px 0;padding:0;font-size:18px;}

#content.hideProductLinks .projectLinks{display:none;}

.projectLinks{
	padding-top:20px;
}

.project p.purchasePrint{
	padding:0 0 24px 0;
	} 

/*Vector Page*/
body.vector .project_wide{padding-bottom:15px;}
body.vector .project.last{margin-bottom:0;background:none;}
body.vector .project .col_1,
body.vector .project .col_2{float:left;width:302px;padding-bottom:15px;}
body.vector .project {float:none;clear:both;width:auto;}
body.vector .project img{margin-bottom:20px;width:auto;}
body.vector .project p{padding-left:15px;}
body.vector span.imageTitle{font-weight:bold;font-size:14px;}

/*Cookie Wars Page*/
/*body.cookiewars .project{margin:0 0 20px 0;padding:0 10px 20px 0;float:left;}
body.cookiewars .project img {width:300px;}*/

/*Art Series*/
.artseries img{width:600px;}

/*About Page*/
body.about #content .about_wrap img{margin-bottom:25px;}
body.about #contentRight{float:right;width:240px;height:auto;padding:25px 0 0;margin:0;}

/*WIP*/
body.wip #content h3{margin-bottom:30px;}
body.wip #content .project{height:auto;padding:0 0 15px 0;margin:0 0 25px 0;clear:both;}
body.wip #content .project.last{margin-bottom:0;padding:0;background:none;background-image:none;}
body.wip #content .image{float:left;width:600px;margin:0;padding:0;}
body.wip #content .image img{margin:0;width:600px;}
body.wip #content .image p{padding:10px 0 30px 0;margin:0;text-align:center;font-size:12px;}
body.wip #content .description{float:left;width:395px;height:auto;padding-left:30px;display:inline;}
body.wip #content .description .notes{ }
body.wip #content .description p { }
body.wip #content .description p span.imageTitle{font-weight:bold;margin-bottom:15px;display:block;}
body.wip #content .description ul{list-style:none;margin:0;padding:0; }
body.wip #content .description ul li{margin:0 0 15px 0;padding:0 0 0 15px;background:url(../images/bullet_arrow.gif) no-repeat 0 3px;}
body.wip #content .description ul li ul{margin:10px 0 0 10px;padding:0;}
body.wip #content .description p a.visit{ font-weight:bold;}
body.wip #content .description p a.visit:hover{ }

/*Sketchbook*/
body.sketchbook #content ul{padding:0;margin:15px 0 0 0;height:auto;width:auto;list-style:none;}
body.sketchbook #content ul li{background:url(../images/bullet_arrow.gif) no-repeat 0 3px;padding:0 0 0 15px;margin:0 0 5px 0;}

/*Page Layout*/
body.page_layout #content .project {
  clear: none;
  display: inline;
  float: left;
  height: auto;
  margin: 0 11px 20px 0;
  width: 302px;
}
body.page_layout #content .project#contentRight{margin-right:0;}
body.page_layout #content .project img{margin-bottom:15px;}
body.page_layout #content .project span.imageTitle{font-weight:bold;}

/*Technical Illustration*/
body.techIll .project {
  clear: none;
  display: inline;
  float: left;
  height: auto;
  margin: 0 0 20px 0;
  width:auto;
}
body.techIll .projectInfo{
	float:left;
	width:600px;
	padding:0 20px 0 0;
	}
body.techIll .project .image img{
	float:left;
	width:600px;	
}
body.techIll .projectInfo{ 
	float:left;
	width:300px;
}

/*Full Size Pages*/
body.posters #content .project #contentRight{margin-right:0;}
body.posters #content .project img{margin-bottom:15px;width:300px;}
.projectrow{clear:both;}


/*web production*/
body.web_production #content .project{width:990px;height:auto;padding:0 0 15px 0;margin:0 0 25px 0;clear:both;}
/*web design*/
body.webDesign { }

/*web page design*/
body.webPageDesign #mainbody{ }
body.webPageDesign #content .project{width:990px;height:auto;padding:0 0 35px 0;margin:0 0 15px 0;clear:both;background:url(../images/web_divider.gif) no-repeat bottom center;}
body.webPageDesign #content .project.last{margin-bottom:0;padding:0;background:none;background-image:none;}
body.webPageDesign #content .image{float:left;width:602px;margin:0;padding:0;}
body.webPageDesign #content .image img,
body.web_design #content .image img{margin:0;width:598px;}
body.webPageDesign #content .image p{padding:10px 0 30px 0;margin:0;text-align:center;font-size:12px;font-weight:bold;}
body.webPageDesign #content .description{float:left;width:295px;height:auto;padding-left:30px;display:inline;}
body.webPageDesign #content .description .notes{ }
body.webPageDesign #content .description p { }
body.webPageDesign #content .description p span.imageTitle{font-weight:bold;margin-bottom:15px;display:block;}
body.webPageDesign #content .description ul{list-style:none;margin:0;padding:0; }
body.webPageDesign #content .description ul li{margin:0 0 15px 0;padding:0 0 0 15px;background:url(../images/bullet_arrow.gif) no-repeat 0 3px;}
body.webPageDesign #content .description p a.visit{font-weight:bold;}
body.webPageDesign #content .description p a.visit:hover{ }

/*mobile*/
body.mobile #mainbody{ }

/*Resume Page*/
body.resume #content{
	float:left;
	width:600px;
	padding:0;
	margin:0;
	height:auto; 
}
body.resume #contentRight{
	float:right;
	width:240px;
	height:auto;
	padding:0;
	margin:0;
}
body.resume #contentRight .client_listing{}
body.resume #contentRight .client_listing ul{
	list-style:none;
	margin:9px 0 0 0;
	padding:0;
	background:none;
	background-image:none;
}
body.resume #contentRight .client_listing ul li{
	margin:0 0 15px 0;
	padding:0 0 0 14px;
	background:url(../images/bullet_interior.gif) no-repeat 0 2px;
}
body.resume #content .edu{
	width:100%;
	height:auto;
	margin:0 0 20px 0;
	padding:0;
}
body.resume #content .edu .masters_degree{
	float:left;
	width:49%;
	padding:0;
	margin:0; 
}
body.resume #content .edu .bachelors_degree{
	float:left;
	width:49%;
	padding:0;
	margin:0;
}
body.resume #content .edu span.degree{
	font-weight:bold;
}
body.resume #content .tech_listing, 
body.resume #content .skills{
	width:100%;
	height:auto;
	margin:0 0 20px 0;
	padding:0;
}
body.resume #content .tech_listing .col_1, 
body.resume #content .tech_listing .col_2, 
body.resume #content .tech_listing .col_3{
	float:left;
	width:33%;
	margin:0;
	padding:0;
}
body.resume #content .skills .col_1, 
body.resume #content .skills .col_2, 
body.resume #content .skills .col_3{
	float:left;
	width:33%;
	margin:0;
	padding:0;
}
body.resume #content .tech_listing ul, 
body.resume #content .skills ul{
	padding:0;
	margin:0;
	list-style:none;
}
body.resume #content .tech_listing ul li, 
body.resume #content .skills ul li{
	padding: 0 0 10px 10px;
    text-indent: -8px;
    line-height: 16px;
}
body.resume #content .tech_listing ul li ul, 
body.resume #content .skills ul li ul{
	padding:5px 0 0 0;
}
body.resume #content .job{
	width:auto;
	height:auto;
	padding:20px;
}
body.resume #content .job.first{
	padding-top:0;
}
body.resume #content .job:nth-child(even){
 background-color: #F8FBFD;
	border-radius: 5px;
}
body.resume #content .job .jobloc{
	float:left;
	width:13%;
	height:auto;
	padding:0 10px 0 0;
	margin:0;
	display:inline;
}
body.resume #content .job .jobinfo{ 
	float:left;
	width:75%;
	height:auto;
	padding:0;
	margin:0;
	display:inline;
}
body.resume #content .job .jobinfo p{
	margin:0;
	padding:0;
}
body.resume #content h2{
	margin:0 0 20px 0;
	padding:0;
}
body.resume #content .job h3{
	padding:0 0 10px 0;
	margin:0;
	font-size:20px;
}
body.resume #content .job h4{
	clear:left;
	margin:0;
	padding:10px 0 10px 0;
	border:none;
	font-size:18px;
}
body.resume #content .job ul{
	margin:0;
	padding:0;
	list-style:none;
}

body.resume #content .job ul li{
	padding: 0 0 10px 10px;
    text-indent: -8px;
    line-height: 22px;
}

/*News Page*/
body.news #mainbody{}
body.news #mainbody h1{}
body.news #content,
body.contact #content,
body.press #content{float:left;width:600px;padding:0;margin:0;height:auto;}
body.news #contentRight,
body.contact #contentRight,
body.press #contentRight{float:right;width:240px;height:auto;padding:0;margin:0;}
.news_item{
    padding:0 0 15px 0;
    margin:0 0 15px 0;
}
.news_item.last{
    margin-bottom:0;
    padding-bottom:0;
    background:none;
    background-image:none;
}
.news_item img{
	/*border:1px solid #666;
	-moz-box-shadow: 1px 1px 7px 2px #a8a8a8;
  	-webkit-box-shadow: 1px 1px 7px 2px #a8a8a8;
  	box-shadow: 1px 1px 7px 2px #a8a8a8;*/
	margin:0 0 10px;
	}
body.press .news_item img{
    width:598px;
    border:1px solid #C4C4C4;
}
body.contact #contentRight{padding-top:25px;}
#contentRight h3{margin-bottom:15px;padding:0;}
#contentRight ul{width:220px;height:auto;padding:0;margin:0;list-style:none;}
#contentRight li{padding:0 0 10px 0;margin:0;}

#contentRight li a{text-decoration:none;font-size:16px;line-height:24px;padding:0;}
#contentRight li.linkedin a,
#contentRight li.instagram a,
#contentRight li.pinterest a,
#contentRight li.teepublic a,
#contentRight li.nickvolkertcom a,
#contentRight li.volkertstoons a,
#contentRight li.designbyhumans a,
#contentRight li.behance a,
#contentRight li.facebook a,
#contentRight li.twitter a,
#contentRight li.devart a,
#contentRight li.tless a,
#contentRight li.emptees a,
#contentRight li.soc6 a,
#contentRight li.redbub a,
#contentRight li.youtube a,
#contentRight li.flickr a,
#contentRight li.blog a,
#contentRight li.tumblr a,
#contentRight li.dribbble a{ }


body.news h2{clear:both;}

.twitter_feed{height: 188px;width: 600px;margin-bottom:15px;}

.rss{ width:73px;height:22px;float:right;margin-top:20px;}
.rss a{background:url(../images/rss.gif) no-repeat 0 0;width:73px;height:22px;display:block;}
.rss a span{display:none;}

/*.marchofthedonuts .project{float:left;margin:0 30px 30px 0;width:447px;}
.marchofthedonuts .project img{width:447px;}
*/
.sharksinwater .project,
.lettering .project,
.sketchbookproj .project{width:600px;}
.sharksinwater .project img,
.lettering .project img,
.sketchbookproj .project img{width:600px;}
/*END main body styles*/


/*footer styles*/
footer{
	width:100%;
	height:auto;
	clear:both;
	margin:0 auto;
	padding:0;
    }
#footerB{width:990px;height:300px;padding:30px 0 0 0;margin:0 auto;font-size:12px;}
footer a{color:#cfcfcf;}
footer a:hover{color:#00fcff;}

#footer_connect{ width:876px;height:auto;padding:0;margin:0 auto;}
#footer_connect ul{ width:auto;height:auto;padding:0;margin:0;list-style:none;}
#footer_connect li{ width:auto;height:auto;padding:0;margin:0;display:inline-block;float:left;}
#footer #footer_connect li{display:inline;}
#footer_connect li a{color:#cfcfcf;text-decoration:none;margin:0 60px 0 0;padding:0;display:block;height:18px;}
#footer_connect li.footerLinkedin a{margin-right:0;}

#copyright{color:#D9D9D9;clear:both;width:895px;margin:0 auto;padding:30px 0 0 0;font-size:11px;}
#copyright a, #copyright a:visited{color:#d9d9d9;}
#foot_logo{float:left;width:132px;height:38px;margin:0 20px 0 0;}
#foot_logo img, #foot_logo a img{border: none;}
#foot_logo a span{display:none;}
#foot_logo a{width:120px;height:38px; display:block;}
#copyright .copyright{line-height:18px;}
#siteMap{ }
#siteMap a{color:#cfcfcf;}
/*footer styles*/

/*home*/
body.home #content{width:990px;margin:auto;padding:0;}


/*MailChimp*/
#mc_embed_signup{
	background:#dcddde; 
	clear:both;
	width:100%;
	display: none;
}
#emailBorder{
	
	width:930px;
	border-top: 1px solid #5B5E6B;
	margin: auto;
	padding:0 0 18px 0;
}
#mc_embed_signup .clear{}
#mc_embed_signup form.validate{

}
#mc_embed_signup_scroll{
	width:990px;
	margin:auto;
	padding:24px 0 34px;
}
#mc_embed_signup h2{
 text-align: center;
}
.indicates-required{
	float: left;
    clear: left;
    padding: 3px 0 0 67px;
    font-size: 12px;
	}
.asterisk{}
.mc-field-group{
	float: left;
}
.mc-field-group.mcEmail{
	padding-left:42px;
}
.mc-field-group label{
	float: left;
    text-align: right;
    display: inline;
    padding: 10px 10px 0 0;
	margin-right:10px;
	font-size:14px;
	
}
.mc-field-group input{
	width:130px;
	height:35px;
	background-color: #FFF;
	border: none;
	float: left;
	margin-right:40px;
	padding:0 0 0 10px;
}
.mc-field-group input.email{ }
.mc-field-group input.required{ }
#mce-responses{ }
#mce-error-response{ }
#mce-success-response{ }
#mc-embedded-subscribe.button{
	float:left;
	width:120px;
	height: 35px;
	border:none;
	border-radius: 5px;
	background-color:#ff8a1d;
	font-size:14px;
	color:#FFF;
	margin:0;
	padding:0;
	cursor: pointer;
}
#mc-embedded-subscribe.button:hover,
#mc-embedded-subscribe.button:active{
	background-color:#14b4ab;

}

/*Back to top link*/
	
#backTop {
    position: fixed;
    bottom: 50px;
    right: 100px;
    z-index: 9999;
    width: 60px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    background: #f5f5f5;
    color: #444;
    cursor: pointer;
    border: 0;
    border-radius: 2px;
    text-decoration: none;
    transition: opacity 0.2s ease-out;
    opacity: 0;
	font-size:24px;
}
#backTop:hover {
    background: #e9ebec;
}
#backTop.show {
    opacity: 1;
}


body.home #backTop,
body.sketchbook #backTop{display:none;}

.futuregf #mainbody{padding:20px 0 30px 0;width:990px;}

.mini_nav{padding:0 0 15px 0;}

.projectLinks a{
	display: block;
	margin-bottom: 10px;
	padding: 18px 0;
	width: 294px;
	height: 14px;
	text-align: center;
	font-size: 16px;
	font-weight: 700;
	border-radius: 5px;
	text-decoration: none;
	border: 2px solid #60AAFF;
	color: #60AAFF;
	line-height: 14px;
}
.projectLinks a:visited{
	color:#999;
	border:2px solid #999;
}
.projectLinks a:hover{
	border:2px solid #60AAFF;
	background-color:#60AAFF;
	color:#FFF;
}

.projectLinks a.linkRedBubble{
	background-color:#f73939;
	border:2px solid #f73939;
	color:#FFF;
}
.projectLinks a.linkRedBubble:hover{
	border:2px solid #60AAFF;
	background-color:#60AAFF;
	color:#FFF;
}

.home .linkTumblr,
.home .linkSociety6,
.home .linkRedBubble,
.home .linkDBH,
.home .linkTeePublic{display: inline;padding-bottom:10px;}
#backTop.fixed{
    bottom:380px;    
}
p.strong{
    font-weight: 700;
}.project li:before,
body.resume #content .tech_listing ul li:before, 
body.resume #content .skills ul li:before,
body.resume #content .job ul li:before{
	content: "• ";
    color: #FF2C5D;
}