/* CSS Document */
body  {
	background-color: #3399FF; 
	background-image: url(../../../../thursdaytreat/springbreak2007/images/treat-springbreakbackground.gif);
	background-repeat: no-repeat;
	background-attachment: fixed;
}
